* {
    box-sizing: border-box;
    text-align: center;
}

.container{
    margin: 0 auto;
    width: 960px;
    position: relative;
}
 
body{
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
}
#main{
    background-image: link to image file;
    width: 100%;
}
    
header{
    height: 100px;
    float: left;
    padding: 50px;
    width: 960px;
}
    
#headerid{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    float: left;
    height: 55px;
    width: 280px;
    padding: 20px;
    background-color: #4aaaa5;
    color: #ffffff;
}

#nav{
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
    float: right;
    border: 30px;
}

li{
    float: right;
    padding: 10px;
}

#nav ul{
    margin: 0;
    padding: 0;
}

#nav ul li{
    list-style-type: none;
    display: inline;
}

#nav li:after{
    content: " | ";
}

/* .hline:after{ 
    width:100%; height:1px; background: #fff; content:"" 
} */

.clearfix{
    clear: both;
}    

#footerid{
    border: 1px;
    background-color: #666666;
    height: 80px;
    width: 100%;
    position: fixed;
}